body{
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(233,215,207);
    color: rgb(83,75,75);
    margin: 0px;
}
#logo-page a {
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    color:  darkgoldenrod;
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
}
#logo-page img {
    height: 50px;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: sans-serif;
    
}
nav a{
    text-decoration: none;
}